/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    gap: 30px;
    max-width: 1440px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

html {
    margin: auto;
    scroll-behavior: smooth;
}
h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

body {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    min-width: 1024px;
    margin: 0 auto;
    gap: 35px;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

/** Header and Nav Styles **/
header {
    margin-bottom: 30px;
    height: 79px;
}

.logo {
    width: 61.09px;
    height: 19px;
    top: 30px;
    left: 50px;
    align-self: center;
}

.logo-div {
    padding: 30px 50px 30px 50px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.nav-bar {
    padding-left: 50px;
    padding-right: 50px;
    gap: 68px;
    height: 100%;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    margin: 0;
    height: 35px;
    justify-content: space-around;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 100%;
    padding-top: 12px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.nav-bar a:hover, 
.nav-bar a:focus {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}


/**Info Section Styles**/
.info-section {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.info-title {
    padding: 0; 
}

/**Search Form Styles**/
.search {
    display: flex;
    justify-content: flex-start;
    width: 377px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 49px;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
}

.search button {
    background-color: var(--main-color);
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px 16px 15px 16px;
    border: none;
}

.search input {
    border: none;
}

.search input::placeholder {
    font-weight: 700;
    font-size: 18px;
    color: black;
    text-align: center;
}

.loc-icon {
    display: inline-block;
    width: 50px;
    height: 49px;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search-icon {
    display: none;
}

.search-text, .filter-container p {
    display: block;
    font-weight: 700;
    font-size: 18px;
    
}

.location-icon {
    background-color: var(--main-bg-color);
    color: black;
    padding: 15px;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/** Filter list/buttons Styles **/
.filter-container, .info-snack, .info-snack div {
    display: flex;
    align-items: center;
}

.filter-container ul {
    list-style: none;
    gap: 15px;
    display: flex;
    margin: 0;
    padding: 0;
}


.filter-container a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    font-size: 17px;
    font-weight: 700;
    height: 50px;
}

.filter-container a:hover {
    background-color: var(--filter-bg-color);
}

.i-icon {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: var(--main-color);
    border: 1px solid var(--main-bg-color);
    justify-content: center;
    font-family: initial;
}

.info-snack {
    display: flex;
    width: 100%;
    height: 24px;
    justify-content: flex-start;
    gap: 10px;
}


.main-container {
    width: 100%;
    box-sizing: border-box;
  
}

.layout {
    gap: 35px;
    display: flex;
    flex-direction: column;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;

}

/** Base Card **/
.card {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    gap: 4px;
    margin: 0;
}

.card img {
    object-fit: cover;
}

.card-content {
    padding-left: 15px;
    padding-right: 15px;
   
}

.card-txt {
    gap: 8px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
    
}

.card-subtitle {
    font-size: 14px;
    font-weight: 400;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accom-cards { /**container**/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 100%;
}

.accom-card {
    flex: 0 0 calc(33.3% - 20px);
    max-width: calc(33.333% - 20px);
    background-color: white;
    padding-bottom: 15px;
    border-radius: 20px;
    gap: 4px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.accom-card article {

    width: 100%;
}

.accommodation {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.accom-cards img {
    width: 100%;
    max-height: 124px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 5px solid white;
    box-sizing: border-box;
}

/****** Popular ***********/
.popular {
    width: 32%;
    display: flex;
    flex-direction: column;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.popular-cards .card {
    display: flex;
    width: 100%;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-subtitle, .card-title {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

.card-link, .accom-card, .search-text {
    display: flex;
    text-decoration: none;
    color: inherit;
    margin: 0;
}

/***Things to do in Marseille styles***/

.things-to-do {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}


.to-do-cards {
    display: flex;
    flex-direction: row;
}

.to-do-cards a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.things-card {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.things-card img {
    height: 390px;
    width: 297.5px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.things-card {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: white;
    gap: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.things-txt {
    padding: 20px 19px 20px 19px;
    
    
}

/** Responsive adjustments for mobile devices/smaller screens **/
@media screen and (max-width: 768px) {
    body {
        padding: 0;
    }

    .logo {
        justify-content: center;
        align-items: center;
    }

    .main-container {
        margin: 0;
    }

    .header-main {
        flex-direction: row;
        align-items: center;
    }
    
    .search-text{
        display: none;
    }

    .search-icon {
        display: block;
        color: var(--main-bg-color);
    }

    .header-search button {
        border-radius: 15px;
        border: 1px var(--main-color);
    }
}